<!doctype html>
<html>
    <head>
        <title>{{title}}</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}"/>

        <!-- Files included below are from https://www.w3schools.com/bootstrap/bootstrap_get_started.asp -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    </head>
<body>

    <div>
        
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="/">Blogz</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a class="menu" href='/'>Home</a></li>
                <li><a class="menu" href='/blog'>Main Blogz Page</a></li>
                <li><a class="menu" href='/newpost'>Add a Blogz Entry</a></li>
                <li><a class="menu" href='/login'>Login</a></li> 
            </ul>
          </div>
        </div>
      </nav>
        <div style='float: right'>
          {% if 'email' in session %}
            {{ session['email'] }}
            <form action="/logout" method="post" id='logout'>
              <input type="submit" value="Log Out" class="btn btn-default" />
            </form>
          {% endif %}
        </div>   

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>