.error {
    color: red;
    font-style: italic;
  }

  h1 {
    text-align: center;
  }

  .menu {
      padding-right: 20px;
  }
    
  h2 {
      font-family: Helvetica;
  }

  #body {
      font-family: Helvetica;
  }