.error {
    color: red;
    font-style: italic;
}

body{ background-color: rgb(151, 205, 226);}

h1 {
    text-align: center;
    font-family: "Lucida Console";
}

/* .menu {
    padding: 4px;
    text-decoration: none;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 15px;
    font-family: Helvetica;
    color: white;
} */
    
h2 {
    font-family: Helvetica;
}

#body {
    font-family: Helvetica;
}

.success {
    color: green;
    font-style: italic;
}

#author {
    font-style: italic;
    font-size: smaller;
}